.big {
    position: relative;
    left: 50px;
    //right: 50px;
    //top: 60px;
    //bottom: 200px;
    width: 50px;
    height: 50px;
    border: 2px solid purple;
    padding: 250px 0 0 250px;
}

.middle {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.bigtwo {
    position: fixed;
    //top: 0;
    //left: 100px;
    right: 0;
    bottom: 0;
    width: 72px;
    border: 2px solid green;
}

.bigtwo .middle {
    margin: 10px;
}

.last {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-top: 14px;
    margin-left: -1px;
}

.lasttwo {
    width: 26px;
    height: 26px;
    border: 1px solid black;
}
